$violet: hsla(254, 74%, 65%, 1) !important;
$dark-violet: rgb(111, 77, 221) !important;
$light-purple: hsla(276, 91%, 79%, 1) !important;
$dark-purple: rgb(189, 124, 233) !important;
$dark: rgb(43, 43, 43);